{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "proseWrap": "never",
  "arrowParens": "always",
  "overrides": [{
    "files": "*.md",
    "options": {
      "printWidth": 70,
      "useTabs": false,
      "semi": false,
      "trailingComma": "none"
    }
  }]
}